@import '../../App.scss';

.showroom {
	text-align: center;
	padding-top: 7rem;

	&__wrapper {
		margin: 2rem 0;
		width: 100%;
		height: 590px;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;

		&:nth-child(odd) .showroom__image {
			order: 2;
		}
		&:nth-child(odd) .showroom__description {
			align-items: flex-end;
			text-align: right;
		}

		@include respond(screen_large) {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			height: 100%;

			&:nth-child(odd) .showroom__image {
				order: 0;
			}
			&:nth-child(odd) .showroom__description {
				align-items: flex-start;
				text-align: left;
			}
		}

		@include respond(screen_small) {
			grid-template-rows: 300px min-content;
		}
	}

	&__description {
		padding: 6rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		text-align: left;
		white-space: pre-line;

		// @media only screen and (max-width: $extra_large) {
		@include respond(screen_extra_large) {
			padding: 4rem;
		}
		@include respond(screen_large) {
			// @media only screen and (max-width: $large) {
			padding: 2rem;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
