@import '../../App.scss';

.contact {
	padding-top: 7rem;
	text-align: center;
	width: 100%;

	&__wrapper {
		width: 100%;
		height: 100%;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
		justify-content: center;

		@include respond(screen_extra_large) {
			grid-template-columns: 60% 40%;
		}

		@include respond(screen_large) {
			grid-gap: 8rem;
			grid-template-rows: repeat(2, min-content);
			grid-template-columns: 1fr;
		}

		@include respond(screen_medium) {
			grid-gap: 6rem;
		}
	}

	&__address {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: min-content 1fr;

		h3 {
			grid-column: span 2;
		}
	}
}

.location {
	justify-self: center;
	text-align: left;
	padding: 4rem 0;

	&__address {
		font-size: 2rem;

		&:nth-last-child(2),
		&:last-child {
			margin-top: 4rem;
		}
	}
}

.times {
	justify-self: center;
	text-align: center;

	&__table tr,
	&__table td {
		padding: 0.1rem 0.5rem;
	}

	&__heading {
		font-weight: 600;
	}
}

.form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 46px);
	grid-gap: 2rem;

	@include respond(screen_medium) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 46px) 200px 46px;
	}

	&__input {
		font-family: 'Varta', sans-serif;
		font-size: 2rem;
		width: 285px;
		height: 46px;
		display: inline-block;
		line-height: 46px;
		border: 2px solid $color-dark;
		padding: 0 1rem;
		border-radius: 0;
		background-color: rgba($color-dark, 0.05);
		outline-color: $color-dark;

		&::placeholder {
			color: $color-dark;
		}
		&:focus {
			background-color: rgba($color-dark, 0.01);
			border-radius: 0;
		}

		@include respond(screen_extra_large) {
			width: 100%;
		}
	}

	&__select {
		font-family: 'Varta', sans-serif;
		font-size: 2rem;
		width: 285px;
		padding: 0.5rem 1rem;
		background-color: rgba($color-dark, 0.05);
		border: 2px solid $color-dark;
		border-radius: 0;

		appearance: none;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M16.59 8.29498L12 12.875L7.41 8.29498L6 9.70498L12 15.705L18 9.70498L16.59 8.29498Z" fill="%23211c1d" /></svg>');
		background-position: calc(100% - 30px) 9px;
		cursor: pointer;

		&:focus {
			outline-color: $color-dark;
			border-radius: 0;
		}

		@include respond(screen_extra_large) {
			width: 100%;
		}
	}

	&__textarea {
		font-family: 'Varta', sans-serif;
		font-size: 2rem;
		grid-column: 2;
		grid-row: 1 / span 3;
		resize: none;
		border: 2px solid $color-dark;
		border-radius: 0;
		background-color: rgba($color-dark, 0.05);
		padding: 1rem;
		outline-color: $color-dark;

		&::placeholder {
			color: $color-dark;
		}

		@include respond(screen_medium) {
			grid-column: 1;
			grid-row: 4;
		}
	}

	&__action {
		display: flex;
	}

	&__submit {
		margin-right: 2rem;
		width: 100%;
	}

	&__cancel {
		width: 100%;
	}
}
