@import '../../App.scss';

.carousel {
	width: 100%;
	height: 98vh;
	overflow: hidden;

	@include respond(screen_extra_small) {
		height: 85vh;
	}

	&__track-container {
		background-color: $color-dark;
		height: 100%;
		position: relative;
		z-index: 0;
	}

	&__track {
		display: block;
		list-style: none;
		position: relative;
		height: 100%;
	}

	&__slide {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__indicators {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 175px;
		height: 3rem;
		margin-top: -40px;
		position: absolute;
	}

	&__indicator {
		border: 0;
		outline: none;
		margin: 0 0.5rem;
		width: 3rem;
		height: 0.8rem;
		background-color: $color-light;
		opacity: 0.5;
		transition: all 0.2s cubic-bezier(0.25, 0.1, 0.5, 1.5);
		cursor: pointer;

		&:hover,
		&.current-slide {
			transform: scaleY(1.6);
			opacity: 1;
		}
	}
}

.slide {
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		width: 50%;

		@include respond(screen_extra_large) {
			width: 70%;
		}

		@include respond(screen_small) {
			width: 100%;
		}
	}

	&__btn {
		position: relative;
	}
}
