@import '../../App.scss';

.footer {
	margin-top: 8rem;
	height: 320px;

	background-color: $color-dark;

	font-family: 'Varta', sans-serif;
	font-size: 2rem;

	display: grid;
	grid-template-rows: min-content 3rem;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 2rem;
	grid-row-gap: 8rem;
	align-content: center;
	justify-content: center;

	@media only screen and (max-width: $extra_large) {
		margin-top: 2rem;
	}

	@media only screen and (max-width: $small) {
		grid-template-columns: 1fr;
		grid-row-gap: 4rem;
	}

	&__form {
		display: flex;
		flex-direction: column;
		// position: relative;
		justify-content: center;
		align-items: flex-end;

		@media only screen and (max-width: $small) {
			align-items: center;
			justify-self: center;
		}

		&__wrapper {
			// align-self: flex-end;
			display: flex;
			border: 1px solid $color-light;
			width: 285px;
		}

		&__label {
			// align-self: flex-end;
			display: block;
			font-size: 2rem;
			margin-bottom: 2rem;
		}

		&__input {
			padding: 1rem;
			border: none;
			outline: $color-dark;
			background: none;
			width: 285px;
			height: 4rem;
			font-family: 'Varta', sans-serif;
			font-size: 2rem;
		}

		&__btn {
			background-color: $color-dark;
			border: none;
			outline: $color-dark;
			width: 40px;
			height: 40px;
			cursor: pointer;

			&__icon {
				width: 24px;
				height: 24px;
			}
		}
	}

	&__social-media {
		align-self: flex-end;

		display: flex;

		& > .svg-icon-container {
			margin: 0 1rem;

			&:first-child {
				margin-left: 2rem;
			}
		}

		@media only screen and (max-width: $small) {
			justify-self: center;
		}
	}

	&__copy {
		grid-column: span 2;
		justify-self: center;

		font-size: 1.4rem;

		@media only screen and (max-width: $small) {
			grid-column: 1;
		}
	}
	&__logo {
		margin-left: 1rem;
		width: 80px;
		height: 28px;
	}
}
