@import '../../App.scss';

.main-nav {
	background-image: linear-gradient(rgba($color-dark, 0.6), rgba($color-dark, 0));
	position: absolute;
	top: 0;
	width: 100%;
}

.nav {
	display: grid;
	grid-template-columns: 101px 1fr 40px;
	justify-content: space-between;
	// align-items: flex-start;
	align-items: center;
	max-width: 100%;
	height: 100px;
	padding-top: 1rem;

	&__logo {
		fill: $color-light;
		width: 101px;
		height: 37px;
		filter: $shadow;
	}

	&__search {
		justify-self: end;
		fill: $color-light;
		width: 20px;
		height: 20px;

		&--large {
			width: 40px;
			height: 40px;
		}
	}

	&__list {
		justify-self: end;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 2rem;
	}

	@media only screen and (max-width: $medium) {
		&__list {
			display: none;
		}
	}

	&__item {
		color: $color-light;
		font-size: 2rem;
		list-style: none;
		padding: 0 2rem;
		position: relative;

		&:first-child {
			display: flex;
		}
		&:first-child:hover .icon {
			animation: arrowdown 0.5s;
		}
		&:first-child:hover .dropdown__list {
			opacity: 1;
			visibility: visible;
			transform: translateY(20px);
		}

		&:last-child {
			padding: 0 0 0 2rem;
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Varta', sans-serif;
		font-size: 2rem;
		color: $color-light;
		background: none;
		border: none;
		outline: none;
		cursor: pointer;

		transition: all 0.2s;

		&:hover {
			opacity: 0.6;
		}
		&:hover + .icon {
			opacity: 0.6;
			animation: arrowdown 0.5s;
		}

		&:focus {
			opacity: 0.6;
		}
	}
}

// --- Products Dropdown menu ---
.dropdown {
	&__list {
		position: absolute;
		margin-top: 1rem;
		width: 180px;
		height: 200px;
		left: -25px;
		display: flex;
		text-align: center;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: rgba($color-dark, 0.5);
		backdrop-filter: blur(20px);
		opacity: 0;
		visibility: hidden;
		transform: translateY(0px);
		transition: all 0.15s ease-out;
		z-index: 1000;
	}

	&__item {
		list-style: none;
		width: 90%;
		padding: 1.8rem 0;

		&:not(:last-child) {
			border-bottom: 1px solid $color-dark;
		}
	}
}

@keyframes arrowdown {
	0% {
		transform: translateY(5px);
	}
	25% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

// --- Search ---
.search {
	position: fixed;
	top: 0;
	left: 0;
	background-color: $color-dark;
	width: 100%;
	height: 100vh;

	&__content {
		height: 100vh;
		display: grid;
		grid-template-rows: 100px 100px min-content min-content;
		grid-gap: 5rem;
		align-items: center;
		justify-items: center;
		text-align: center;
	}

	&__input {
		background: none;
		outline: $color-dark;
		border: none;
		border-bottom: 1px solid $color-light;
		color: $color-light;
		font-size: 3rem;
		font-family: 'Varta', sans-serif;
		text-align: center;
		margin: 4rem 0;
		width: 400px;

		&::placeholder {
			color: $color-light;
		}
	}

	&__btn {
		background: none;
		border: none;
		outline: none;
		width: 60px;
		height: 60px;
		cursor: pointer;

		&:hover {
			opacity: 0.6;
		}
	}

	&__close-btn {
		align-self: center;
		justify-self: end;
	}
}
