@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Mrs+Saint+Delafield&family=Varta:wght@300;700&display=swap');

// font-family: 'DM Serif Display', serif;
// font-family: 'Mrs Saint Delafield', cursive;
// font-family: 'Varta', sans-serif;

$color-light: #fcfcfc;
$color-dark: #211c1d;

// -------------------------------------------------
// Media queriy mixings
$extra_large: 75em; // 1200
$large: 62.5em; // 1000
$medium: 48em; //768
$small: 37.5em; // 600
$extra_small: 23.5em; // 375

@mixin respond($breakpoint) {
	@if $breakpoint == screen_extra_large {
		@media only screen and (max-width: $extra_large) {
			@content;
		}
	}
	@if $breakpoint == screen_large {
		@media only screen and (max-width: $large) {
			@content;
		}
	}
	@if $breakpoint == screen_medium {
		@media only screen and (max-width: $medium) {
			@content;
		}
	}
	@if $breakpoint == screen_small {
		@media only screen and (max-width: $small) {
			@content;
		}
	}
	@if $breakpoint == screen_extra_small {
		@media only screen and (max-width: $extra_small) {
			@content;
		}
	}
}

// -------------------------------------------------

.container {
	width: 1200px;
	margin: 0 auto;

	@include respond(screen_extra_large) {
		width: 1000px;
	}
	@include respond(screen_large) {
		width: 768px;
	}
	@include respond(screen_medium) {
		width: 600px;
	}
	@include respond(screen_small) {
		width: 375px;
	}
	@include respond(screen_extra_small) {
		width: 330px;
	}
}

.light {
	color: $color-light;
}

.dark {
	color: $color-dark;
}

.shadow {
	filter: drop-shadow(0 1px 1px rgba($color-dark, 0.5));
}

// --------------------------------------------------------
.heading {
	font-family: 'DM Serif Display';
	font-weight: 100;

	&--large {
		font-size: 8rem;
		line-height: 6rem;
		line-height: 6rem;

		@include respond(screen_extra_large) {
			font-size: 6rem;
		}
	}

	&--medium {
		font-size: 6rem;

		@include respond(screen_extra_large) {
			font-size: 5rem;
			line-height: 6rem;
		}
	}

	&--small {
		font-size: 4rem;
		line-height: 3rem;
	}
}

.sub-heading {
	font-family: 'Mrs Saint Delafield', cursive;
	font-size: 5rem;
	font-weight: 100;
}

.description {
	font-size: 2rem;
	margin: 4rem 0;
	font-weight: 100;

	@include respond(screen_extra_large) {
		margin: 2rem 0;
	}
}

// --------------------------------------------------------
.svg {
	width: 100%;
	height: 100%;

	&--light {
		fill: $color-light;
	}
	&--dark {
		fill: $color-dark;
	}
}

.svg-icon-container {
	width: 24px;
	height: 24px;

	&--large {
		width: 64px;
		height: 64px;
	}
}

.icon-btn {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;

	z-index: 1000;

	transition: all 0.2s ease;

	&:hover {
		opacity: 0.6;
	}
}

.icon-hidden {
	display: none;
}

// --------------------------------------------------------
.link {
	text-decoration: none;
	font-weight: 300;
	transition: all 0.2s;

	&:hover {
		opacity: 0.6;
	}
}

.btn {
	font-family: 'Varta', sans-serif;
	font-size: 2rem;
	line-height: 46px;
	height: 46px;
	padding: 0 2rem;
	display: inline-block;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;

	transition: all 0.2s ease;

	@include respond(screen_extra_large) {
		justify-content: center;
	}

	&:hover {
		color: $color-light;
		background-color: rgba($color-dark, 0.8);
	}

	.svg-icon-container {
		margin-left: 1rem;
	}

	&--light {
		border: 1px solid $color-light;
		background-color: rgba($color-dark, 0.5);

		&:focus {
			outline: 1px solid $color-light;
		}
	}

	&--dark {
		border: 2px solid $color-dark;
		background-color: rgba($color-dark, 0.05);

		&:hover .svg-icon-container > svg {
			fill: $color-light;
		}

		&:focus {
			outline: 1px solid $color-dark;
		}
	}

	&--darker {
		border: none;
		background-color: $color-dark;

		&:hover .svg-icon-container > svg {
			fill: $color-light;
		}

		&:focus {
			outline: 1px solid $color-dark;
		}
	}
}
